version: 2
jobs:
  build:
    working_directory: ~/tmp
    docker:
      - image: circleci/node:7
    steps:
      - checkout
      # Log the current branch
      - run: echo ยง{CIRCLE_BRANCH}
      # Restore local dependencies from cache
      - restore_cache:
        keys:
          - dependencies-{{ checksum "package.json" }}
          - dependencies-
      # Install project dependencies
      - run: npm install
      # Cache local dependencies if they don't exist
      - save_cache:
        key: dependencies-{{ checksum "package.json" }}
        paths:
          - node_modules
      # Test the source code
      - run: npm test